# Build results
_site/
api/**
!api/**.md
_site/
[Oo]bj/
**.zip
common.ps1

# Others
docfx/
plugins/
templates/*
articles/ped/*
!articles/ped/index.md
!articles/ped/toc.yml
articles/vehicle/*
!articles/vehicle/index.md
!articles/vehicle/toc.yml
